@media all and (max-width: 480px) and (orientation:portrait){
  h1.logo{
    width: 66vw;
    /*height: 39.6vw;*/
    height: 22vh;
    margin-top: 3vh;
  }

  .icon.logo{
    width: 0;
  }

  .icon.logo.shown{
    width: 25vw;
  }

  nav ul {
    width: 90vw;
    margin-top: 13vh;
  }
  nav ul.shown {
    width: 98vw;
    margin-top: 0;
  }
  nav ul li {
    width: 22vw;
  }

  header{
    margin-top:10vw;
  }

  section{
    width: 100vw;
  }

  section.selected{
    height: 67vh;  
  }
}